In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-06-13 23:22:17,-53.1500,-70.9167,35.71,87,0,8.05
1,1,Zhangjiakou,CN,2021-06-13 23:25:22,40.8100,114.8794,67.87,88,99,2.28
2,2,Clyde River,CA,2021-06-13 23:25:22,70.4692,-68.5914,32.23,86,90,11.50
3,3,Kirakira,SB,2021-06-13 23:24:44,-10.4544,161.9205,84.04,64,70,9.48
4,4,Arraial Do Cabo,BR,2021-06-13 23:25:23,-22.9661,-42.0278,69.30,61,90,11.30

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kirakira,SB,2021-06-13 23:24:44,-10.4544,161.9205,84.04,64,70,9.48
6,6,Butaritari,KI,2021-06-13 23:21:51,3.0707,172.7902,81.73,78,86,9.26
9,9,Jamestown,US,2021-06-13 23:25:25,42.0970,-79.2353,76.64,71,20,3.00
11,11,Kapaa,US,2021-06-13 23:21:04,22.0752,-159.3190,84.18,73,20,7.00
12,12,Porto Novo,BJ,2021-06-13 23:25:26,6.4965,2.6036,82.22,80,21,8.23
13,13,The Valley,AI,2021-06-13 23:25:27,18.2170,-63.0578,81.10,78,40,11.50
17,17,Atuona,PF,2021-06-13 23:25:28,-9.8000,-139.0333,79.27,79,92,18.77
22,22,Lompoc,US,2021-06-13 23:25:08,34.6391,-120.4579,87.13,80,75,13.80
27,27,Sorong,ID,2021-06-13 23:22:04,-0.8833,131.2500,78.49,87,100,6.20
28,28,Ewa Beach,US,2021-06-13 23:25:32,21.3156,-158.0072,84.15,50,75,15.99

In [22]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3     Kirakira      SB     84.04 -10.4544  161.9205
6   Butaritari      KI     81.73   3.0707  172.7902
9    Jamestown      US     76.64  42.0970  -79.2353
11       Kapaa      US     84.18  22.0752 -159.3190
12  Porto Novo      BJ     82.22   6.4965    2.6036
13  The Valley      AI     81.10  18.2170  -63.0578
17      Atuona      PF     79.27  -9.8000 -139.0333
22      Lompoc      US     87.13  34.6391 -120.4579
27      Sorong      ID     78.49  -0.8833  131.2500
28   Ewa Beach      US     84.15  21.3156 -158.0072

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kirakira,SB,84.04,-10.4544,161.9205,SanBiz Lodge
6,Butaritari,KI,81.73,3.0707,172.7902,Isles Sunset Lodge
9,Jamestown,US,76.64,42.0970,-79.2353,Hampton Inn & Suites Jamestown
11,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Porto Novo,BJ,82.22,6.4965,2.6036,Tour Eiffel Hotel Benin
13,The Valley,AI,81.10,18.2170,-63.0578,CeBlue Villas & Beach Resort
17,Atuona,PF,79.27,-9.8000,-139.0333,Villa Enata
22,Lompoc,US,87.13,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
27,Sorong,ID,78.49,-0.8833,131.2500,waigo splash hotel
28,Ewa Beach,US,84.15,21.3156,-158.0072,Uncle Junior Robert

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))